*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
h1{
    background-color: green;
    color: white;
    padding: 20px 40px 20px 20px;
    font-size: 40px;
}
nav{
    background-color: blue;
}
li a{
        color: white;
        text-decoration: none;
    }
li{
        display: inline-block;
        margin: 30px;
        font-size: 10px 0px 10px 40px;
        font-weight: bold;
    }
body{
    background-color: rgb(239, 93, 241);
}

section{
    background-color: rgb(254, 252, 254);
    margin: 20px 35px 20px 35px;
    border: 1px solid blue;
}
#principal{
   padding: 20px;
   background-color: rgb(244, 239, 244);
}
header{
    background-color: rgb(58, 57, 158);
    padding: 10px;
}
p{
    margin-top: 10px;
}
.noticia{
    border: 1px solid rgb(82, 199, 31);
    margin: 15px;
}
.noticia p{
    padding: 10px;
}